// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
@import 'typopro-web/web/TypoPRO-OpenSans/typoPRO-OpenSans.css'
// Check out "bower_components/prism/themes/" for available themes

body {
  font-family: "TypoPRO Open Sans", sans-serif;
}

.us-hero {
  background-image: url('../images/us-hero.jpg');
  background-size: cover;
}

.jp-hero {
  background-image: url('../images/jp-hero.jpg')
}

span.date {
  width: 120px
  font-weight: bold;
  display: inline-block;
}

span.event {
  display: inline-block;
}

.bespoke-active {
  opacity: 0.9;
}

.bespoke-slide ul {
  text-align: left;
}

.bespoke-bullet-inactive img {
  display: none;
}

.bespoke-bullet-active img {
  display: none;
}

.bespoke-bullet-current img {
  display: block;
}

.logo {
  position: fixed;
  bottom: 5px;
  right: 5px;
  width: 150px;
  height: 35px;
  background-size: cover;
  background-image: url('../images/logo.png');
}

.bespoke-slide {
  background: white;
}

a.no-underline {
  color: black;
}

.headroom {
  margin-top: 1em;
}
