doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ES2015 today

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article.us-hero

      section
        h1 JavaScript today
        h3 How we got here, what we learned, where we are
        h3 Powered by <a href="http://tech.opentable.com/">OpenTable Engineering</a>
        h4 Matt Blair
        h5 Principal Software Engineer, Search Platform
        h5 mblair@opentable.com

      section
        h2 Ancient History
        ul
          li
            span.date Dec 1999
            span.event ES3 Released
          li
            span.date Jan 2000
            span.event ES4 work started*
          li
            span.date Oct 2007
            span.event Microsoft goes on attack
          li
            <img src="images/community-flame-war.gif" />
          li
            <img src="images/bullshit.jpg" />
          li
            <img src="images/popcorn.gif" />
          li
            span.date Aug 2008
            span.event ES4 scaled back to "harmony project"
          li
            span.date Dec 2009
            span.event strict mode, new features released
          li
            span.date Jun 2011
            span.event ES5 Released
          li
            span.date Nov 2013
            span.event The beginning of the end of Joyent and node.js
          li
            <img src="images/eddie-izzard-popcorn-gif-o.gif" />
          li
            span.date Dec 2013
            span.event Ben Noordhuis (#3) stops contributing to node.js
          li
            span.date Dec 2013
            span.event Isaac Schlueter (#2) leaves Joyent

      section
        h2 Modern History
        ul
          li
            span.date Sep 2014
            span.event First commit to 6to5 project
          li
            span.date Nov 2014
            span.event Fedor Indutny forks node.js into io.js
          li
            <img src="images/popcorn2.gif" />
          li
            span.date Jan 2015
            span.event io.js v1, TC39 moves to annual releases (ES2015)
          li
            span.date Feb 2015
            span.event babel v4 - 6to5 renamed
          li
            span.date Apr 2015
            span.event babel v5 - ES7!!!
          li
            span.date May 2015
            span.event io.js v2
          li
            span.date Jun 2015
            span.event ES6/ES2015 Spec Released
          li
            span.date Aug 2015
            span.event io.js v3
          li
            span.date Sep 2015
            span.event io.js v3.3.1, npm v4
          li
            span.date Oct 2015
            span.event npm v5, babel v6
          li
            span.date Jan 2016
            span.event Chrome 4.9 - 91% ES 2015 support

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    div.logo

    script(src='build/build.js')
