doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title ES2015 today

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article.us-hero

      section
        h1 ES2015 today
        h3 How we use it, what we learned, how you can start
        h3 Powered by <a href="http://tech.opentable.com/">OpenTable Engineering</a>
        h4 Matt Blair
        h5 Principal Software Engineer, Search Platform
        h5 mblair@opentable.com

      section
        h2 Ancient History
        ul
          li Dec 1999: ES3 Released
          li Jan 2000: ES4 work started*
          li Oct 2007: Flame War!
          li <img src="images/bullshit.jpg" />
          li <img src="images/popcorn.gif" />
          li Jul 2008: Brendan Eich announced TC39 would focus on ES5
          li Aug 2008: ES4 scaled back to "harmony project"
          li Dec 2009: strict mode, new features released
          li June 2011: ES5 Released

      section
        h2 Modern History
        ul
          li Sep 2014: First commit to 6to5 project
          li Jan 2015: io.js 1.0 released
          li June 2015: ES6 Released

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    div.logo

    script(src='build/build.js')
